* {
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    position: sticky;
    height: 56px;
    background-color: #2874f0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.nav-logo-text {
    display: flex;
    justify-content: space-evenly;
}

.text-img {
    margin-top: 19px;
}

.nav-logo {
    background-image: url("img.png");
    background-size: cover;
    height: 20px;
    width: 75px;
    margin-bottom: 11px;
    margin-right: 0px;
}

.l-text {
    font-size: 11px;
    margin-top: 20px;
    height: 21px;
    font-style: italic;
    font-weight: 500;
}

.l-text .span {
    color: #ffe500;
}

.navbar img {
    height: 10px;
    outline: none;
}

/* search box  */
.nav-search {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-left: 12px;
}

.search-input {
    font-size: 14px;
    height: 36px;
    width: 522.52px;
    border: none;
    padding: 0px 16px;
}

.search-icon {
    background-color: white;
    color: rgb(55, 13, 243);
    width: 42px;
    height: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    padding: 4px 12px 0px 8px;
}

.menu {
    margin-left: 20px;

}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 25px;
    font-weight: 500;
    font-size: 16px;
}

.cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-icon {
    margin: 0px 8px;
}

.cart-text {
    font-size: 16px;
    font-weight: 500;
}

/* home-bar */

.home-bar {
    height: 100px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
}

.bar-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

}

.item {
    list-style: none;
}

.item img {
    list-style: none;
    /* border: 1px solid black; */
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.i-text {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

/* display-home-bar */

.display-home {
    height: 280px;
    display: flex;
    padding-top: 10px;
    margin: 8px 8px;
}

.d-img {
    background-image: url("home-bar-img.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* home-section */

.home-section {
    height: 350px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px 15px;
    border: 1px solid transparent;
    margin: 8px;
}

.bar-box1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.item1 {
    list-style: none;
}

.item1 img {
    list-style: none;
    /* border: 1px solid black; */
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.i-text1 {
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    text-align: center;
}

.tt {
    font-size: 16px;
    color: #388e3c;
    margin-left: 60px;

}

/* footer */
footer{
    background-color: #152336;
}
.footer{
   background-color:#152336;
    display: flex;
    justify-content: space-evenly;
    
}
.footer-text{
    margin: 0px 65px;
    padding-top: 40px;
}

.h-text{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}
.nav-text li{
    line-height: 2;
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
    list-style: none;
    color: white;
}
/* last  */
.last{
    display: flex;
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    background-color: #152336;
    align-items: center;
    margin-top: 40px;
}
.last-text{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.last-text li{
    font-size: 14px;
    color: white;
    list-style: none;
}